.hotel-card {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}
.hotel-card .hotel-img{
    width: 39%;
}
.hotel-card .hotel-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.hotel-card .hotel-details{
    width: 59%;
    padding: 10px
}
.hotel-card .hotel-details h3 {
    width: 80%;
    font-size: 18px;
    font-weight: bold
}
.hotel-card .hotel-details .rate {
    position: absolute;
    font-size:14px;
    right: 0;
    top: 30px;
    background-color: #0A6ADA;
    padding: 2px 10px;
    color: #fff;
    border-radius: 5px 0 0 5px;
}
.hotel-card .hotel-details .rate svg {
    margin-left: 5px;
    font-size: 12px
}
.hotel-card .hotel-details .location {
    font-size: 14px;
    color: #969494
}
.hotel-card .hotel-details .amenities span {
    background-color: #ddebfc;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 5px;
}
.hotel-card .hotel-details .price .discount {
    color: #FFC54D;
    font-size: 12px
}
.hotel-card .hotel-details .price .actual-price {
    font-weight:bold;
    font-size: 15px
}
.hotel-card .hotel-details .view {
    padding: 5px 10px;
    font-size: 11px;
    color: #000;
    background-color: #eaeaeb;
    border-radius: 20px
}
.hotel-card .hotel-details .book {
    padding: 5px 10px;
    font-size: 11px;
    background-color: #0A6ADA;
    color: #fff
}

