.booking {
    flex:1;
    min-width: 0;
}
.booking-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px
}
.booking .parag {
    color: #a8a8a8;
    margin-bottom: 20px !important
}
.booking-form label {
    color: #676767;
}
.booking-form .card-icons .icons {
    margin-top: -25px;
    padding: 0 10px;
        justify-self: flex-end;

}
.booking-form .card-icons .icons svg {
    color: #0A6ADA;
}
.booking-form .pay {
    background-color: #0A6ADA;
    color: #fff

}
.booking h3 {
    font-size: 18px;
    width: 80%
}
.booking .price {
    line-height: 1
}
.booking .price .discount {
    color:#DF142D;
    font-weight: bold;
    font-size: 15px
}
.booking .price .c-price {
    font-weight: bold;
    font-size: 25px
}
.booking .price .currency {
    font-size: 10px;
    color: #9e9d9d
}
.booking .price .unit {
    font-size: 11px
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-box {
  background: white;
  padding: 50px 100px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
}
.popup-box svg {
    font-size: 50px;
    color: #20bf55
}
.popup-box h3 {
    margin: 20px 0;
    width: fit-content
}
.popup-box a {
    display: inline-block;
    background-color: #0A6ADA;
    color: #fff;
    padding: 5px 20px 8px 20px;
    width: 100%;
    border-radius: 10px;
}
