.recommended-item {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    text-transform: capitalize;
}
.recommended-item .rec-img {
    width: 40%;
    height: 180px;
}

.recommended-item .rec-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.recommended-item .rec-details {
    width: 78%
}
.recommended-item .rec-details h5 {
    color: #b0b0b0
}
.recommended-item .rec-details h2 {
    font-size: 22px;
}
.recommended-item .rec-details p {
    color: #9b9b9b
}
.recommended-item .rec-details .book {
    padding: 5px 10px;
    color: #DF142D;
    background-color: #FDF1F2
}